.message {
  padding: 20px;
  color: white;
  background: transparent;
  text-align: center;
  font-size: 18px;
}
.message {
  padding: 20px;
  color: white;
  background: transparent;
  text-align: center;
  font-size: 18px;
}
