.card {
  width: 100%;
}

.image {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 8px;
  border: 4px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.326);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.03);
}
